body{
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    line-height: 1.5em;
}
table a{
    color: rgb(10, 75, 128);
    text-decoration: none;
}

li a{
    color: rgb(10, 75, 128);
    text-decoration: none;
    list-style-type: none;
}
li{
    list-style-type: none;
}
